//for django main progect
pip install django 
pip install easy_thumbnails
pip install bootstrap4
(python3-env) $ pip install celery
(python3-env) $ pip install celery-progress

//for application
pip install paramiko