{% extends "crypto_templ/cr_base.html" %}
{% load bootstrap4 %}

{% block title %} Choise result file {% endblock %}

{% block content %}
<h2> List of tests for {{user_name}}</h2>
<div class="conteiner-fluid mb-2 border">

<table border="1" colspan="2" width="100%">
   <tr>
     <th>{{user_name}} BackTest result file name </th>
	 <th>Delete</th>
   </tr>
 {% for file in total_files %}
   <tr>
     <td>{{file}}</td>
	 <td align="center"><a href="delete/{{file}}" style="text-decoration:None">Delete record</a></td>
   </tr>
 {% endfor %}  
</table>

</div>
{% endblock %}

